<div class="row">
  <div class="col-md-8">
    <% favorites.each do |favorite| %>
      <p>
        <%= image_tag favorite.post.user.avatar_url(48), class: 'gravatar for-user' %>
        <strong><%= link_to favorite.post.title, topic_post_path(favorite.post.topic, favorite.post) %></strong>
      </p>
      <h5><strong>Number votes: </strong><%= favorite.post.votes.count %> &nbsp; | &nbsp; <strong>Number comments: </strong><%= favorite.post.comments.count %></h5>
      <br>
    <% end %>
  </div>
</div>