<h1> You are now following "<%= @post.title %>", you will be notified of all comments. If you do not wnat to receive further notifications, please unfavorite post: <%- link_to "post" "View post on site", topic_post_url(@post.topic, @post) %></h1>
