<br>
<div class='jumbotron'>
  <h1>Bloccit</h1>
  <p>Bloccit is a resource for sharing links with your friends and enemies.</p>
  <p>
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Solves dinosaur hunger</h2>
    <p>We may, or may not, feed dinsoaurs with what our users throw into the pit of food donation.</p>
  </div>
  <div class='col-md-4'>
    <h2>Is designed to eat your lunch</h2>
    <p>Our algorithms are formulated to steal your lunch, or lunch money, and give them to our programmers. Unfed programmers write bad code.</p>
  </div>
  <div class="col-md-4">
    <h2>Cannot make you look better</h2>
    <p>If you are unsure of your looks, smash all your mirrors. We are a website, not a magician.</p>
  </div>
</div>