<h1>Sponsored Post</h1>
<p>This is a sponsored post!</p>
<div class="row">
  <div class="col-md-4">
    <%= @sponsored_post.title %>
    <%= @sponsored_post.body %>
    <%= @sponsored_post.price %>
  </div>
  <div>This has been a sponsored post. Yay!</div>
</div>